.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 220px;
  gap: 15px;
  padding: 20px;
  background-color: var(--secondary);
  border-radius: 12px;
  width: 90%;
  margin: auto;
  /* align-items: center; */
}

/* Image cards */
.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 12px;
}
.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.4s ease;
  border-radius: 12px;
}

.gallery-item:hover img,
.gallery-item:hover video {
  transform: scale(1.08);
}

/* Taller images (like in your screenshot) */
.gallery-item.tall {
  grid-row: span 2;
}

@media (max-width: 900px) {
  .gallery-container {
    grid-template-columns: 1fr;
  }
}
